body {
  margin: 16px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.form-container {
  display: flex;
  align-items: center;
}

.notice {
  color: #999;
  font-size: 12px;
  margin-bottom: 2px;
}

.github a {
  font-weight: bold;
  font-size: 12px;
}

.deno-logo {
  width: 64px;
  height: 64px;
}

.post-form {
  display: flex;
}

.post-form button,
.post-form input {
  margin: 4px;
}

.post {
  padding: 6px;
}

.post .post-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px;
}

.post .post-header .post-header-name {
  font-weight: bold;
  margin-right: 6px;
  font-size: 16px;
}

.post .post-header .post-header-date {
  cursor: default;
  color: #999;
  font-size: 14px;
}

.post .post-body {
  font-size: 18px;
}
